Flask==3.0.3
Werkzeug==3.0.3
dash==3.0.2
dash-bootstrap-components==2.0.0
# dash-core-components y dash-html-components son ahora parte de dash
joblib==1.4.2
kaleido==0.2.1
matplotlib==3.8.4
numpy==1.26.4
pandas==2.2.2
plotly==6.0.1
psycopg2-binary==2.9.10 # o psycopg2==2.9.10
scikit-learn==1.6.1
scipy==1.12.0
seaborn==0.13.2
SQLAlchemy==2.0.40
xarray==2025.1.2 # Mantener si tu app.py lo importa
xgboost==3.0.2
gunicorn

# Considera también las dependencias de xarray si la conversión de NetCDF a CSV es parte del proyecto:
# cftime==1.6.4.post1
# netCDF4==1.7.2
